{% extends 'layout.html' %}

{% load static %}

{% block customCSS %}
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.0/fh-4.0.1/r-3.0.4/sc-2.4.3/datatables.min.css" rel="stylesheet" integrity="sha384-2Kog+xBHckFllab8GPEP0fmBUYJmdKFV6H8W6aCAO+er+nOxf6BKbg/pmKdwB/5l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block customJS %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.0/fh-4.0.1/r-3.0.4/sc-2.4.3/datatables.min.js" integrity="sha384-HNFSeuNc7s2HGzGjNFV/i0XipmC7zJwvuovdipYIHXhmXWV2bBAj7AQ3A03h5wiI" crossorigin="anonymous"></script>
    <script src="{% static 'js/orders.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container">
        <table class="table table-bordered" id="shipmentsTable">
            <thead>
                <tr>
                    <th class="text-center align-middle"><i class="ti ti-info-circle-filled fs-3"></i></th>
                    <th scope="col">Numero de orden</th>
                    <th scope="col">Remitente</th>
                    <th scope="col">Destinatario</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}