<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg fixed-top shadow-sm py-1" data-bs-theme="dark">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'shipments' %}">
            <img src="https://i.postimg.cc/qMPJnfzv/449711526-996625615496458-6832983053048689051-n-2-1-removebg-preview.png" height="40" class="d-inline-block">
            <span class="ms-2">N&C</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link disabled">Ordenes</a>
                <a class="nav-link active" href="#">Envios</a>
            </div>
        </div>
    </div>
</nav>